<header class=" text-sm font-serif font-bold container relative mx-auto flex flex-col overflow-hidden px-4 py-4 lg:flex-row lg:items-center">
	<a href="{{ path('home') }}" class="flex items-center whitespace-nowrap text-2xl font-black hover:bg-transparent hover:text-secondary">
		<span class="mr-2 w-8">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-3 h-6 text-primary sm:h-9">
				<path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9"/>
			</svg>
		</span>
		Imprimerie
	</a>
	<input type="checkbox" class="peer hidden" id="navbar-open"/>
	<label class="absolute top-5 right-5 cursor-pointer lg:hidden" for="navbar-open">
		<svg class="h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 6h16M4 12h16M4 18h16"></path>
		</svg>
	</label>
	<nav aria-label="Header Navigation" class="peer-checked:pt-8 peer-checked:max-h-60 flex max-h-0 w-full flex-col items-center overflow-hidden transition-all lg:ml-24 lg:max-h-full lg:flex-row">
		<ul class="flex w-full flex-col items-center space-y-2 lg:flex-row lg:justify-center lg:space-y-0">
			<li class="lg:mr-4">
				<a class="rounded text-gray-700 transition hover:bg-transparent hover:text-secondary" href="{{ path('home') }}">
					Accueil
				</a>
			</li>
			<li class="lg:mr-4">
				<a class="rounded text-gray-700 transition hover:bg-transparent hover:text-secondary" href="{{ path('orders') }}">
					Impression en ligne
				</a>
			</li>
			{% if app.user %}
				<li class="lg:mr-4">
					<a class="rounded text-gray-700 transition hover:bg-transparent hover:text-secondary" href="{{ path('user.orders') }}">
						Mes Commandes
					</a>
				</li>
			{% endif %}
			<li class="lg:mr-4">
				<a class="rounded text-gray-700 transition hover:bg-transparent hover:text-secondary" href="{{ path('contact') }}">
					Contact
				</a>
			</li>
		</ul>
		<hr class="mt-4 w-full lg:hidden"/>
		<div class="my-4 flex items-center space-x-4 space-y-2 lg:my-0 lg:ml-auto lg:space-x-2 lg:space-y-0">

			{% if app.user %}

				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('admin.dashboard') }}"  target="_blank" title="" class="whitespace-nowrap rounded-xl bg-white border border-primary px-6 py-1.5 text-primary transition-all duration-200 hover:bg-secondary hover:text-white hover:border-secondary">
						Dashboard
					</a>
				{% endif %}
				<a href="{{ path('app_logout') }}" title="" class="whitespace-nowrap rounded-xl bg-white border border-red-700 px-6 py-1.5 text-red-700 transition-all duration-200 hover:bg-red-700 hover:text-white hover:border-red-700">
					déconnexion
				</a>
			{% else %}
				<a href="{{ path('login') }}" title="" class="whitespace-nowrap rounded-xl bg-white border border-primary px-6 py-1.5 text-primary transition-all duration-200 hover:bg-secondary hover:text-white hover:border-secondary">
					S'identifier
				</a>
				<a href="{{ path('register') }}" title="" class="whitespace-nowrap rounded-xl bg-primary px-6 py-1.5 text-white transition-all duration-200 hover:bg-secondary">
					S'inscrire
				</a>
			{% endif %}
		</div>
	</nav>
</header>
