{% extends "base.html.twig" %}

{% block title %}
	Commande N°
	{{ order.orderNumber }}
{% endblock %}

{% block body %}

	<div class="relative w-full p-6">
		<a href="{{ path('user.orders') }}" class=" bg-secondary text-white px-8 py-3 font-semibold rounded-full dark:bg-gray-100 dark:text-gray-800">Retour
		</a>
	</div>


	<div class="py-14 px-4 md:px-6 2xl:px-20 2xl:container 2xl:mx-auto">

		<div class="flex justify-start item-start space-y-2 flex-col">
			<h1 class="text-3xl dark:text-white lg:text-4xl font-semibold leading-7 lg:leading-9 text-gray-800">
				Ma Commande : N°
				{{ order.orderNumber }}
			</h1>
		</div>

		<div class="mt-10 flex flex-col xl:flex-row jusitfy-center items-stretch w-full xl:space-x-8 space-y-4 md:space-y-6 xl:space-y-0">
			<div class="flex flex-col justify-start items-start w-full space-y-4 md:space-y-6 xl:space-y-8">


				<div class="flex flex-col justify-start items-start dark:bg-gray-800 bg-gray-50 px-4 py-4 md:py-6 md:p-6 xl:p-8 w-full">
					<p class="text-lg md:text-xl dark:text-white font-semibold leading-6 xl:leading-5 text-gray-800">
						Panier
					</p>

					{% set filesPrice = 0 %}

					{% for file in files %}

						{% set filesPrice = filesPrice + ( file.price * file.amount ) %}
						<div class="mt-4 md:mt-6 flex flex-col md:flex-row justify-start items-start md:items-center md:space-x-6 xl:space-x-8 w-full">
							<div class="pb-4 md:pb-8 w-full md:w-40">
								<div {{ react_component('FileViewController', { 'file' : asset('uploads/orders/' ~ file.path )} ) }}>
								</div>
							</div>
							<div class="border-b border-gray-200 md:flex-row flex-col flex justify-between items-start w-full pb-8 space-y-4 md:space-y-0">
								<div class="w-full flex flex-col justify-start items-start space-y-8">
									<h3 class="text-xl dark:text-white xl:text-2xl font-semibold leading-6 text-gray-800">
										{{ file.name }}
									</h3>
									<div class="flex justify-start items-start flex-col space-y-2">
										<p class="text-sm dark:text-white leading-none text-gray-800">
											<span class="dark:text-gray-400 text-gray-300">
												Couleur :
											</span>
											{{file.color ? 'oui' : 'non'}}
										</p>
										<p class="text-sm dark:text-white leading-none text-gray-800">
											<span class="dark:text-gray-400 text-gray-300">
												Recto/Verso:
											</span>
											{{file.bothSides ? 'oui' : 'non'}}
										</p>
										<p class="text-sm dark:text-white leading-none text-gray-800">
											<span class="dark:text-gray-400 text-gray-300">
												Reilure:
											</span>
											{{file.reliure ? 'oui' : 'non'}}
										</p>
									</div>
								</div>
								<div class="flex justify-between space-x-8 items-start w-full">
									<p class="text-base dark:text-white xl:text-lg leading-6">
										{{ file.price }}
									</p>
									<p class="text-base dark:text-white xl:text-lg leading-6 text-gray-800">
										{{ file.amount }}
									</p>
									<p class="text-base dark:text-white xl:text-lg font-semibold leading-6 text-gray-800">
										{{ file.price * file.amount }}
									</p>
								</div>
							</div>
						</div>

					{% endfor %}

				</div>


				<div class="flex justify-center flex-col md:flex-row flex-col items-stretch w-full space-y-4 md:space-y-0 md:space-x-6 xl:space-x-8">


					<div class="flex flex-col px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 dark:bg-gray-800 space-y-6">
						<h3 class="text-xl dark:text-white font-semibold leading-5 text-gray-800">Récapitulatif</h3>
						<div class="flex justify-center items-center w-full space-y-4 flex-col border-gray-200 border-b pb-4">
							<div class="flex justify-between w-full">
								<p class="text-base dark:text-white leading-4 text-gray-800">Prix des fichiers</p>
								<p class="text-base dark:text-gray-300 leading-4 text-gray-600">{{ filesPrice }}
									€</p>
							</div>
							<div class="flex justify-between items-center w-full">
								<p class="text-base dark:text-white leading-4 text-gray-800">Frais de livraison</p>
								<p class="text-base dark:text-gray-300 leading-4 text-gray-600">0.00 €</p>
							</div>
							<div class="flex justify-between items-center w-full">
								<p class="text-base dark:text-white leading-4 text-gray-800">Option</p>
								<p class="text-base dark:text-gray-300 leading-4 text-gray-600">{{ order.option.price }}
									€</p>
							</div>
						</div>
						<div class="flex justify-between items-center w-full">
							<p class="text-base dark:text-white font-semibold leading-4 text-gray-800">Total</p>
							<p class="text-base dark:text-gray-300 font-semibold leading-4 text-gray-600">{{ order.price }}
								€</p>
						</div>
					</div>

				</div>
			</div>
			<div class="bg-gray-50 dark:bg-gray-800 w-full xl:w-96 flex justify-between items-center md:items-start px-4 py-6 md:p-6 xl:p-8 flex-col">
				<div class="flex flex-col md:flex-row xl:flex-col justify-start items-stretch h-full w-full md:space-x-6 lg:space-x-8 xl:space-x-0">

					<div class="flex justify-between xl:h-full items-stretch w-full flex-col mt-6 md:mt-0">

						<div class="flex justify-center md:justify-start xl:flex-col flex-col md:space-x-6 lg:space-x-8 xl:space-x-0 space-y-4 xl:space-y-12 md:space-y-0 md:flex-row items-center md:items-start">
							<div class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4 xl:mt-8">
								<p class="text-base dark:text-white font-semibold leading-4 text-center md:text-left text-gray-800">
									Adresse de livraison
								</p>
								<p class="w-48 lg:w-full dark:text-gray-300 xl:w-48 text-center md:text-left text-sm leading-5 text-gray-600">
									{{  order.address }}
									,
									{{  order.city }}
									{{  order.zip }}
								</p>
							</div>
						</div>
						<a href="{{path('user.orders.show.received', { id: order.id } ) }}" target="_blank" class="bg-grey-light hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded inline-flex items-center">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0110.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0l.229 2.523a1.125 1.125 0 01-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0021 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 00-1.913-.247M6.34 18H5.25A2.25 2.25 0 013 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 011.913-.247m10.5 0a48.536 48.536 0 00-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5zm-3 0h.008v.008H15V10.5z"/>
							</svg>
							<span>Imprimer ma facture</span>
						</a>

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
